*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100%;
    width: 100%;
    background-color: aquamarine
}
nav{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: antiquewhite
}
nav img{
    width: 150px;
}
#pages{
    display: flex;
    align-items: center;
    gap: 20px;
}
a{
    color: black;
    font-size: 25px
}
